
.container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 900px;
    margin-bottom: 30px;
    align-items: center;

    .card {
        margin: auto;
        width: 500px;
        border-radius: 6px;
        overflow: hidden;
        background-color: white;
        -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        cursor: default;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;

        img {
            margin: auto;
        }

        &:hover {
            -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
        }

        .contenido {
            padding: 10px;
            text-align: center;

            p {
                color: #6a6a6a;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

            h3 {
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
                margin-bottom: 15px;
            }

            a {
                text-decoration: none;
                display: inline-block;
                padding: 10px;
                margin-top: 10px;
                color: #29d5d5;
                border: 1px solid #29d5d5;
                border-radius: 4px;
                -webkit-transition: all 400ms ease;
                transition: all 400ms ease;

                &:hover {
                    background: #29d5d5;
                    color: #fff;
                }
            }
        }
    }
}
