@import "cards";
@import "maps";
@import "extend";
@import "mixin";

/* FUENTES PARA UTLIZAR DURANTE EL PROYECTO */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=PT+Sans:wght@700&family=Raleway:ital@1&family=Roboto:ital,wght@0,300;1,400&family=Tapestry&family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto:ital,wght@0,300;1,400&family=Tapestry&family=Water+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Raleway:ital@1&family=Roboto:ital,wght@0,300;1,400&family=Tapestry&family=Water+Brush&display=swap");


/* Reseteo */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* CSS PARA INDEX */
/* ID del Index */
#title {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-top: 40px;
}

/* ID del Index */
/* Código general para el proyecto */
main {
    grid-area: main;
}

h2 {
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 10px;
}

h5 {
    margin-bottom: 10px;
}


footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #2a2a2a;
    color: #04ffff;
    padding: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Código general para el proyecto */

/* Clases del Index */
.black {
    background-color: #2a2a2a;
}

.logo img {
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5rem;
}

main .sponsor {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: black;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

main .sponsor img {
    filter: grayscale(100%);

}

main .sponsor img:hover {
    filter: grayscale(0%);
}


.producto>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.iconos-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}

/* Código para productos y combos que vendemos */

.combos {
    background-color: rgb(221, 219, 219);
}

/* Código para productos y combos que vendemos */


/* Código para Footer */
.redes-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.redes-icons img {
    margin: 10px 10px 10px 10px;
}

/* Código para Footer */

/* CSS PARA CONTACTO */
/* ID de Contacto */
#contacto {
    margin-left: 50px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
    margin-bottom: 10px;
}

/* Clases de Contacto */
.formulario {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: x-large;
    margin-bottom: 20px;
}

.auxiliar {
    margin-top: 300px;
}


/* CSS para SobreNosotros */

/* ID de SobreNosotros */
#sobrenosotros {
    margin-left: 50px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* Clases para SobreNosotros */
.nosotros {
    margin-top: 40px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logonosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* CSS para SobreNosotros */

/* CSS para Componentes y PC Armadas*/

/* Clases para Componentes y PC Armadas */

.titulo-componente {
    margin: 1rem 1rem 1rem 1rem;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.aside {
    margin: 1rem;
    color: #8a8a8a;
    font-size: x-large;
    font-family: 'PT Sans', sans-serif;
}

.subtitulo-componente {
    margin: 2rem 2rem 2rem 2rem;
    text-align: center;
    color: #434343;
}

/* CSS para Componentes y PC Armadas*/



/*Código Media Queries */

@media screen and (max-width: 900px) {
    .carrousel {
        display: none;
    }

    .iconos-buttom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 870px) {
    .portada {
        display: none;
    }

    .container {
        margin-left: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .container .card .contenido {
        text-align: center;
    }


    .card:hover {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .iconos-bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    main .sponsor {
        display: none;
    }
}

@media screen and (max-width: 487px) {
    .navbar navbar-expand-lg navbar-light black {
        width: 100%;
    }
}

/*# sourceMappingURL=style.css.map */